#wrapper{
    width: 960px;
}
#header{
    line-height: 135px;
    height: 135px;
}
#footer{
    background-color: black;
    color: white;
    height: 100px;
}
#content{
    background-image: url("../images/4x4.jpg");
    background-size: cover;
    height: 560px;
}
#mountains{
    border: 1px black solid;
}
.biggr{
    width: 593px;
}
.smallgr{
    width: 366px;
}
.margincenter{
    margin-left: auto;
    margin-right: auto;
}
.inline{
    display: inline;
}
.floatleft{
    float: left;
}
.clearpad{
    padding: 0px;
}
.clearmarg{
    margin: 0px;
}
.textalignr{
    text-align: right;
}
.w480{
    width: 480px;
}
.textalignl{
    text-align: left;
}
.textalignc{
    text-align: center;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.h50{
    height: 50px;
}
.floatright{
    float: right;
}
.grey{
    color: gray;
}
.blue{
    color: blue;
}
.pad{
    padding-top: 40px;
    padding-bottom: 50px;
}
.contentMargin {
    margin-left: 31px;
    margin-right: 31px;}
.thinBorder {
    border: 1px black solid;
}
#sideCard {
    padding: 10px;
}
.contentMargin {
    margin-left: 31px;
    margin-right: 31px;
    margin-top: 60px;
}
.contentText {
    margin-left: 31px;
}
.clearfix{
    clear: both;
}
.margin{
    margin-top: 600px;
}